---
import PostLayout from '../layouts/PostLayout.astro';
---
<PostLayout title="Startseite">
    <h1>Die besten DIY-Gadget Anleitungen</h1>
    <ul>
        <li><a href="/posts/diy-ton-klimaanlage">DIY Ton-Klimaanlage</a></li>
    </ul>
</PostLayout>
