---
import PostLayout from '../layouts/PostLayout.astro';
const posts = await Astro.glob('./posts/*.md');
---
<PostLayout title="Startseite">
    <h1>Die besten DIY-Gadget Anleitungen</h1>
    <ul>
        {posts.map((post) => (
            <li><a href={post.url}>{post.frontmatter.title}</a></li>
        ))}
    </ul>
</PostLayout>
