---
import PostLayout from '../layouts/PostLayout.astro';
// Astro v7 uses import.meta.glob for content discovery
const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<PostLayout title="Startseite">
    <h1>Die besten DIY-Gadget Anleitungen</h1>
    <ul>
        {posts.map((post) => (
            <li><a href={post.url}>{post.frontmatter.title}</a></li>
        ))}
    </ul>
</PostLayout>
